spring:
    config:
        activate:
            on-profile: local
    datasource:
        url: jdbc:mariadb://feelmeal-db:3306/feelmeal
        username: root
        password: 123
        driver-class-name: org.mariadb.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MariaDBDialect
                show_sql: true

logging:
    level:
        org.hibernate.sql: debug
